[user]
  name = Andrei Neacșu
  email = amneacsu@gmail.com
[color]
  ui = always
[pull]
  rebase = true
[push]
  default = simple
[core]
  autocrlf = false
  ignorecase = true
  excludesfile = ~/.gitignore
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[advice]
  statusHints = false
  pushNonFastForward = false
  commitBeforeMerge = false
  detachedHead = false
[diff]
  renames = copy
  mnemonicprefix = true
