"*":
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: false
    strictMatching: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "autocomplete-snippets"
      "metrics"
      "minimap"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: false
  editor:
    fontFamily: "Mononoki"
    invisibles: {}
    scrollPastEnd: true
  linter:
    gutterPosition: "Left"
    showErrorPanel: false
    showErrorTabLine: true
  "linter-stylelint":
    disableWhenNoConfig: true
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
