"*":
  "atom-typescript":
    ignoredDiagnosticCodes: [
      "80005"
      "80006"
      "6133"
      "6198"
      "6385"
      "7044"
      "80004"
      "6192"
    ]
    unusedAsInfo: false
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: false
    strictMatching: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "autocomplete-snippets"
      "metrics"
      "minimap"
      "spell-check"
      "keybinding-resolver"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: false
  editor:
    fontFamily: "Mononoki"
    fontSize: 18
    invisibles: {}
    scrollPastEnd: true
  linter:
    gutterPosition: "Left"
    showErrorTabLine: true
  "linter-eslint-node":
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.ts"
      "source.tsx"
    ]
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
