# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/flex-tool-bar

[
  {
    type: "button"
    icon: "gear"
    callback: "flex-tool-bar:edit-config-file"
    tooltip: "Edit Tool Bar"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "octoface"
    callback: "open-on-github:repository"
    tooltip: "Open On GitHub: Repository"
  }
  {
    type: "button"
    icon: "calendar"
    callback: "git-time-machine:toggle"
    tooltip: "Git Time Machine"
    style:
      color: "#00dfd8"
  }
  {
    type: "button"
    icon: "sync"
    callback: "git-plus:pull"
    style:
      color: "#faff28"
  }
  {
    type: "button"
    icon: "flame"
    callback: "git-blame:toggle"
    style:
      color: "#fa4f28"
  }
]
